.logo {
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  position: fixed;
  z-index: 10;
  top: 0;
}

.bg-header {
  /* background-color: rgba(0, 0, 0, 0.6); */
  background: rgba(7, 169, 139, 0.75);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header ul li {
  list-style: none;
}

header ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.searchBox {
  width: 80%;
  height: 60px;
  font-size: 25px;
  border-radius: 10px;
  border-color: var(--colorBase);
}

.container-searchbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox:active {
  border-color: var(--colorBase);
}

.btn-reg {
  display: inline-block;
  padding: 0 10px;
  background-color: var(--colorBase);
  height: 38px;
  line-height: 38px;
}

.btn-reg:hover {
  background-color: var(--colorActivo);
  color: white;
}

.btn-search {
  background-color: var(--colorBase);
  width: 69px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.text-logo {
  display: none;
}

.user {
  color: white;
  font-size: 20px;
}


@media (max-width: 1199.98px) {
  .searchBox {
    height: 50px;
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  /* .searchBox {
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    margin: auto;
  } */

  /* .btn-search {
    display: none;
    position: absolute;
    top: 160px;
    right: 20px;
   
  } */

  

  ul {
    margin: 0;
  }
}

@media (max-width: 575.98px) {
  .btn-reg {
    display: none;
  }

  .logo {
    width: 80px;
    clip-path: inset(0 0 18px 0);
  }

  .text-logo {
    display: inline-block;
    
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  .container-searchbox {
  margin: 10px 0px 0 -150px;
}

.searchBox {
  margin: 70px 0 10px 0;
  width: 250px;
}

  .btn-search {
    margin: 10px 0px 0 -25px;
    width: 60px;
    height: 60px;
  }

  .user {
    display: none;
  }
}
